<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.DeviceInfo" version="4.0.2" targetFramework="portable45-net45+win8" />
  <package id="CarouselView.FormsPlugin" version="4.4.2" targetFramework="portable45-net45+win8" />
  <package id="Maxxor.PCL" version="0.3.91" targetFramework="portable45-net45+win8" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross" version="5.1.1" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Binding" version="5.1.1" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Core" version="5.1.1" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Forms" version="5.1.1" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Platform" version="5.1.1" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.Messenger" version="5.1.1" targetFramework="portable45-net45+win8" />
  <package id="MxSync" version="0.8.3.193" targetFramework="portable45-net45+win8" />
  <package id="MxSync.Forms" version="0.8.3.193" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8" />
  <package id="NodaTime" version="2.0.0-alpha20160729" targetFramework="portable45-net45+win8" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="portable45-net45+win8" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="portable45-net45+win8" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="portable45-net45+win8" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="portable45-net45+win8" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="portable45-net45+win8" />
  <package id="Plugin.Permissions" version="2.0.1" targetFramework="portable45-net45+win8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="portable45-net45+win8" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1" targetFramework="portable45-net45+win8" />
  <package id="sqlite-net-pcl" version="1.2.0" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.bundle_green" version="1.0.1" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.core" version="1.0.1" targetFramework="portable45-net45+win8" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="portable45-net45+win8" />
  <package id="System.Globalization" version="4.0.11" targetFramework="portable45-net45+win8" />
  <package id="System.Linq" version="4.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Serialization.Xml" version="4.1.1" targetFramework="portable45-net45+win8" />
  <package id="System.Threading" version="4.0.11" targetFramework="portable45-net45+win8" />
  <package id="System.Xml.XmlSerializer" version="4.0.11" targetFramework="portable45-net45+win8" />
  <package id="Validation" version="2.2.8" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Geolocator" version="4.0.1" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Media" version="3.0.1" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8" />
  <package id="ZXing.Net.Mobile" version="2.2.9" targetFramework="portable45-net45+win8" />
  <package id="ZXing.Net.Mobile.Forms" version="2.2.9" targetFramework="portable45-net45+win8" />
</packages>